<mat-icon color="primary">arrow_back</mat-icon>
<mat-icon color="accent">arrow_back</mat-icon>
<mat-icon color="warn">arrow_back</mat-icon>

<mat-icon color="warn" style="color: chartreuse;">arrow_back</mat-icon> <!--to change its known color--> 

<br>
<br>

<h2>angmat works!</h2>
<div class="example-button-row">
    <button mat-button color="basic">basic</button>
    <button mat-button color="primary">primary</button>
    <button mat-button color="accent">accent</button>
    <button mat-button color="warn">warn</button>
</div>

<br>

<div class="example-label">reaised button</div>
<div class="example-button-row">
    <button mat-raised-button color="basic">basic</button>
    <button mat-raised-button color="primary">primary</button>
    <button mat-raised-button color="accent">accent</button>
    <button mat-raised-button color="warn">warn</button>
</div>

<br>

<div class="example-label">stroked button</div>
<div class="example-button-row">
    <button mat-stroked-button color="basic">basic</button>
    <button mat-stroked-button color="primary">primary</button>
    <button mat-stroked-button color="accent">accent</button>
    <button mat-stroked-button color="warn">warn</button>
</div>

<br>

<div class="example-label">flat button</div>
<div class="example-button-row">
    <button mat-flat-button color="basic">basic</button>
    <button mat-flat-button color="primary">primary</button>
    <button mat-flat-button color="accent">accent</button>
    <button mat-flat-button color="warn">warn</button>
</div>

<br>

    <button mat-raised-button >basic button</button>
    <br>
    <br>
    <button mat-raised-button disabled>disabled basic button</button>

    <br>
    <br>
    <button mat-raised-button disableRipple>disabled Ripple basic button</button>

    <br>
    <br>

    <div class="example-button-row">

    <a href="https://www.google.com.eg/?hl=ar" target="_blank">Google</a>

    <a mat-flat-button color="primary" href="https://www.google.com.eg/?hl=ar" target="_blank">Google</a>

    </div>

    <br>
    <br>

    <h5>choose Location</h5>
<mat-button-toggle-group>
    <mat-button-toggle>london</mat-button-toggle>
    <mat-button-toggle>Egypt</mat-button-toggle>
    <mat-button-toggle>France</mat-button-toggle>
</mat-button-toggle-group>

<br>
<br>

<h5>choose days</h5>
<mat-button-toggle-group #userSelection="matButtonToggleGroup" multiple>
    <mat-button-toggle value="sat">sat</mat-button-toggle>
    <mat-button-toggle value="sun">sun</mat-button-toggle>
    <mat-button-toggle value="mon">mon</mat-button-toggle>
    <mat-button-toggle value="tues">tues</mat-button-toggle>
    <mat-button-toggle value="wed">wed</mat-button-toggle>
    <mat-button-toggle value="thur">thur</mat-button-toggle>
    <mat-button-toggle value="fri">fri</mat-button-toggle>
</mat-button-toggle-group>

<h4>user selections are : {{userSelection.value}}</h4>
<h5>your first selection is : {{userSelection.value[0]}}</h5>
<h5>your first selection is : {{userSelection.value[1]}}</h5>
<h5>your first selection is : {{userSelection.value[2]}}</h5>
<h5>your first selection is : {{userSelection.value[3]}}</h5>

<br>
<br>

<h5>choose days</h5>
<mat-button-toggle-group #userSelection="matButtonToggleGroup" multiple vertical>
    <mat-button-toggle value="sat">sat</mat-button-toggle>
    <mat-button-toggle value="sun">sun</mat-button-toggle>
    <mat-button-toggle value="mon">mon</mat-button-toggle>
    <mat-button-toggle value="tues">tues</mat-button-toggle>
    <mat-button-toggle value="wed">wed</mat-button-toggle>
    <mat-button-toggle value="thur">thur</mat-button-toggle>
    <mat-button-toggle value="fri">fri</mat-button-toggle>
</mat-button-toggle-group>

<br>
<br>

<!--Date picker: a composition of text input and a calender pop-up connected together -->
<mat-form-field appearance="fill">

    <mat-label>choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

</mat-form-field>

<p></p>

<mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  
  <mat-date-range-picker #picker></mat-date-range-picker>

  <!DOCTYPE html>
  <html>
  <head>
  <style>
  .grid-container {
    display: grid;
    gap: 20px;
    background-color: #d5d8da;
    padding: 100px;
    border-radius: 20px;
    
    

  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 30px;
    font-size: 30px;
    border: 1px solid rgba(195, 198, 202, 0.888);
    background-color:rgba(195, 198, 202, 0.888);
    border-radius: 20px;
    display: flex;
  justify-content: flex-start;
  margin:0px;
  }
  
  .item1 {
    grid-column: 1 / span 6;
    grid-row: 1;
    border: 1px solid white;
    background-color:white;
    font-size: 10px;
    justify-content:start;
    padding-top: 0px;
    margin:0px;
  }
  
  .item2 {
    grid-column: 3 / span 4;
    grid-row: 2 / span 2  ;
    border: 1px solid white;
    background-color:white;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row ;
    flex-shrink: 1;
    padding-top: 50px;
  }
  
  
  
  .item3{
      grid-column:1 / span 2;
      grid-row:2;
      border: 1px solid white;
      background-color:white;
      border-radius: 10px;
      visibility: visible;
  }
  .item4{
      grid-column: 1 / span 2;
      grid-row:3;
      border: 1px solid white;
      background-color:white;
      border-radius: 10px;
  }
  
  .item5 {
    grid-column: 1 / span 6;
    grid-row: 4 / span 30;
    padding-top:180px;
    border: 1px solid white;
      background-color:white;
      border-radius: 10px;
  }

  
  .mat-icon.right {

    float: right;
  }
  .left {
    padding-right: 450px;
    float: left;

  }

  .material-symbols-outlined {
    padding-top: 10px;
  }


  .b{
    padding: 0px;
  }
  
  

.example-h2 {
  margin: 0px;
}

.example-form{
    display: flex;
  align-content: center;
  align-items: center;
  height: 80px;
  position:relative;
    z-index: 1;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 10px;
  position:relative;
    z-index: 1;
} 

.example-margin {
  margin: 0 ;
  position:relative;
    z-index: 1;
}

.example-full-width{
    display: flex;
  align-content: center;
  align-items: center;
  
  padding-bottom: 5px;
  
  position:relative;
    
}


.button.example-custom-date-class {
  background: orange;
  border-radius: 100%;
  padding: 5px;
}

.example-full-width{
    margin:5px;
}

.example-margin{
    padding-top: 5px;
    font-size: 10px;
    float: left; 
}
.s{
    padding-bottom: 5px;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.ss{
    padding-bottom: 5px;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;

}

.example-formm{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row ;
    flex-shrink: 1;

}




  </style>
  </head>
  <body>
  
  <h5>Add Resource View</h5>
  
  <div class="grid-container">
  
    <div style="margin: 0px;" class="grid-item item1">
        
        <p style="padding-top: 80px;">
            
            <mat-icon  color="primary" style="color: black;" >arrow_back</mat-icon>
            <h4 style="padding-top: 80px;" class="left">Add new resources</h4>
            
            <mat-slide-toggle  style=padding-top:80px;></mat-slide-toggle>
            <h4 style=padding-top:80px;  >enabled</h4>
              


        <div  style="padding-top: 60px;">
            
            <button class="b" style="padding-right: 10px;" style="padding-left: 10px;" mat-flat-button color="primary">save changes</button>
            <button style="padding-right: 10px;" style="padding-left: 10px;" mat-stroked-button color="warn" mat-icon class="material-symbols-outlined">Delete</button>
            <mat-icon class="material-symbols-outlined" style="color: red;">delete</mat-icon>
        </div>

    </div>


    <div  class="grid-item item3">
        <form class="example-form">
                
            <app-avatarsample3></app-avatarsample3>
                
            <div>
                <button mat-flat-button color="basic" style="float: left;">Resource Name</button>
            <mat-form-field   style="height:15px;" style="width:200px;" class="example-full-width">
              
              <input matInput placeholder="Ex. Pizza" value="   هيثم محمد ">
            </mat-form-field>
            </div>
            
        </form>
    </div>
  
  
    <div style="margin: 0px;" class="grid-item item4">
        <form class="example-form" style="font-size: 5px;" style="margin: 0px;">
            <section class="example-section" style="margin: 0px;">
                <label class="example-margin" style="font-size: 10px;" >Choose resources Type</label>
                <mat-radio-group style="font-size: 5px;" [(ngModel)]="labelPosition">
                  <mat-radio-button class="example-margin" value="during the day" style="font-size: 5px;" >booking during the day</mat-radio-button>
                  <mat-radio-button class="example-margin" value="during a period" style="font-size: 5px;" >booking a period (more than a day)</mat-radio-button>
                </mat-radio-group>
              </section>
        
        </form>
    </div>


    

  <div style="margin: 0px;" class="grid-item item2">
        <form class="example-form" style="margin: 70px;">
            
            
              <mat-list  style="height: 50;">
                <mat-list-item>
                    <label  class="example-margin" style="padding: 10px;">The resources available for</label>
                    <span style="padding: 10px;" style="margin: 10px;">
                        <section class="example-section" style="margin: 0px;">  
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            
                                <mat-select>
                                    <mat-option value="Jan">Jan</mat-option>
                                    <mat-option value="Feb">Feb</mat-option>
                                    <mat-option value="March">March</mat-option>
                                    <mat-option value="April">April</mat-option>
                                    <mat-option value="May">May</mat-option>
                                    <mat-option value="June">June</mat-option>
                                    <mat-option value="July">July</mat-option>
                                    <mat-option value="Aug">Aug</mat-option>
                                    <mat-option value="Sep">Sep</mat-option>
                                    <mat-option value="Oct">Oct</mat-option>
                                    <mat-option value="Nuv">Nuv</mat-option>
                                    <mat-option value="Dec">Dec</mat-option>
                                </mat-select>
                        
                          </section>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item style="height: 20px;" style="margin:5px" style="padding: 5px;">
                    
                    <label  class="example-margin" >The resources Time</label>
                    <section class="example-section" style="display: flex;" style="align-content: center;"
                    style="align-items: center;" style="height: 75px;" >
                        
                        <mat-radio-group [(ngModel)]="labelPosition" style="height: 40px;" style="font-size: 5px;">
                          <mat-radio-button class="example-margin" value="after">service time</mat-radio-button>
                          <mat-radio-button class="example-margin" value="before">fixed time</mat-radio-button>
                        </mat-radio-group>
                      </section>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <label  class="example-margin" >Mul Reservation</label>
                    <mat-radio-group [(ngModel)]="labelPosition" style="height: 40px;" style="font-size: 5px;">
                        <mat-radio-button class="example-margin" style="font-size: 5px;" value="after">one person</mat-radio-button>
                        <mat-radio-button class="example-margin" style="font-size: 5px;" value="before">multi persons</mat-radio-button>
                      </mat-radio-group>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>

                <mat-form-field style="margin: 0px;" style="padding: 0px;">                
                        <input matInput placeholder="minutes" type="number" [(ngModel)]="minutes">
                </mat-form-field>

            </mat-list-item>

                <mat-divider></mat-divider>
                <mat-form-field style="margin: 0px;" style="padding: 0px;">                
                        <input matInput placeholder="appointments" type="number" [(ngModel)]="appointments">
                </mat-form-field>
                    
            </mat-list>
            
        </form>
    </div>


    <div  class="grid-item item5">
        <form class="example-form">
                
            <mat-list>
                <mat-list-item>
                    <div>
                        <mat-slide-toggle></mat-slide-toggle>
                        <h4 >sat</h4>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><div>
                    <mat-slide-toggle></mat-slide-toggle>
                    <h4 >sun</h4>
                    <div class="ngx-timepicker">
                        <input placeholder="startTime" aria-label="start time" [ngxTimepicker]="startTime" readonly>
                        <ngx-material-timepicker #startTime [defaultTime]="'08:00'"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-timepicker">
                        <input placeholder="endTime" aria-label="end time" [ngxTimepicker]="endTime" readonly>
                        <ngx-material-timepicker #endTime [defaultTime]="'23:00'"></ngx-material-timepicker>
                    </div>
                </div></mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><div>
                    <mat-slide-toggle></mat-slide-toggle>
                    <h4 >mon</h4>
                    <div class="ngx-timepicker">
                        <input placeholder="start time" aria-label="start time" [ngxTimepicker]="startTime" readonly>
                        <ngx-material-timepicker #startTime [defaultTime]="'23:00'"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-timepicker">
                        <input placeholder="end time" aria-label="end time" [ngxTimepicker]="endTime" readonly>
                        <ngx-material-timepicker #endTime [defaultTime]="'23:00'"></ngx-material-timepicker>
                    </div>
                </div></mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><div>
                    <mat-slide-toggle></mat-slide-toggle>
                    <h4 >tues</h4>
                    <div class="ngx-timepicker">
                        <input placeholder="start time" aria-label="start time" [ngxTimepicker]="startTime" readonly>
                        <ngx-material-timepicker #startTime [defaultTime]="'08:00'"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-timepicker">
                        <input placeholder="end time" aria-label="end time" [ngxTimepicker]="endTime" readonly>
                        <ngx-material-timepicker #endTime [defaultTime]="'23:00'"></ngx-material-timepicker>
                    </div>
                </div></mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><div>
                    <mat-slide-toggle></mat-slide-toggle>
                    <h4 >wed</h4>
                    <div class="ngx-timepicker">
                        <input placeholder="start time" aria-label="start time" [ngxTimepicker]="startTime" readonly>
                        <ngx-material-timepicker #startTime [defaultTime]="'08:00'"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-timepicker">
                        <input placeholder="end time" aria-label="end time" [ngxTimepicker]="endTime" readonly>
                        <ngx-material-timepicker #endTime [defaultTime]="'23:00'"></ngx-material-timepicker>
                    </div>
                </div></mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><div>
                    <mat-slide-toggle></mat-slide-toggle>
                    <h4 >thur</h4>
                    <div class="ngx-timepicker">
                        <input placeholder="start time" aria-label="start time" [ngxTimepicker]="startTime" readonly>
                        <ngx-material-timepicker #startTime [defaultTime]="'08:00'"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-timepicker">
                        <input placeholder="end time" aria-label="end time" [ngxTimepicker]="endTime" readonly>
                        <ngx-material-timepicker #endTime [defaultTime]="'23:00'"></ngx-material-timepicker>
                    </div>
                </div></mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item><div>
                    <mat-slide-toggle></mat-slide-toggle>
                    <h4 >thur</h4>
                    <div class="ngx-timepicker">
                        <input placeholder="start time" aria-label="start time" [ngxTimepicker]="startTime" readonly>
                        <ngx-material-timepicker #startTime [defaultTime]="'08:00'"></ngx-material-timepicker>
                    </div>
                    <div class="ngx-timepicker">
                        <input placeholder="end time" aria-label="end time" [ngxTimepicker]="endTime" readonly>
                        <ngx-material-timepicker #endTime [defaultTime]="'23:00'"></ngx-material-timepicker>
                    </div>
                </div></mat-list-item>
              </mat-list>
              
              <app-timepicker></app-timepicker>
    


        </form>
    </div>
  







    <div class="grid-item item2"></div>
    <div class="grid-item item3"></div>  
    <div class="grid-item item4"></div>
    <div class="grid-item item5"></div>
  </div>  
  

  </body>
  </html>
  
  
  